---
title: Nagareyamanoku
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content={{description}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&amp;display=optional"/>
    <link rel="icon" type="image/x-icon" href="https://yamanoku.net/favicon.ico"/>
    <link rel="manifest" href="/manifest.json"/>
    {% set css %}
    {% include "node_modules/yama-normalize/yama-normalize.css" %}
    {% include "src/main.css" %}
    {% endset %}
    <style>
      {{css | cssmin | safe}}
    </style>
    <script>
      if ("serviceWorker" in navigator) navigator.serviceWorker.register("/service-worker.js");
    </script>
  </head>
  <body>
    <header>
      <h1>{{title}}</h1>
      <p>{{description}}</p>
    </header>
    <main>
      {{content | safe}}
    </main>
    <footer>
      <p>© Copyright {{day.year}}, Okuto Oyama</p>
    </footer>
  </body>
</html>