---
layout: layout.njk
title: Nagareyamanoku
description: yamanokuが参考にする流山市にまつわるまとめページ
---
  <h2>情報まとめ</h2>
  <section>
    <h3>COVID19</h3>
    <h4>流山市陽性患者数</h4>
    <p>
      {{data.covid19.positive}}人
    </p>
    <p>
      <small><time datetime={{day.today}}>※{{day.todayFormat}}現在</time></small><br>
      <small>情報は<a href="https://www.city.nagareyama.chiba.jp/information/1007525/1024556/1025141.html" target="_blank" rel="noopener">流山市の公式ホームページ</a>よりスクレイピングしている。</small>
    </p>
    <h4>
      <a href="https://covid19.civictech.chiba.jp/" target="_blank" rel="noopener">
        千葉県新型コロナウイルス感染症対策サイト
      </a>
    </h4>
  </section>
  <section>
    <h3>{{data.emergency.title}}</h3>
    {%- for content in data.emergency.contents -%}
      <h4>{{content.title}}</h4>
      <a href="{{content.link_url}}" target="_blank" rel="noopener">
        {{content.link_title}}
      </a>
    {%- endfor -%}
  </section>
  <section>
    <h3>{{data.pediatrics.title}}</h3>
    {%- for content in data.pediatrics.contents -%}
      <h4>{{content.title}}</h4>
      <a href="{{content.link_url}}" target="_blank" rel="noopener">
        {{content.link_title}}
      </a>
    {%- endfor -%}
  </section>
  <section>
    <h3>{{data.foods.title}}</h3>
    <ul>
    {%- for content in data.foods.contents -%}
      <li>
        <a href="{{content.link_url}}" target="_blank" rel="noopener">
          {{content.link_title}}
        </a>
      </li>
    {%- endfor -%}
    </ul>
  </section>
  <section>
    <h3>{{data.beautySalon.title}}</h3>
    <ul>
    {%- for content in data.beautySalon.contents -%}
      <li>
        <a href="{{content.link_url}}" target="_blank" rel="noopener">
          {{content.link_title}}
        </a>
      </li>
    {%- endfor -%}
    </ul>
  </section>
