body {
  font-family: "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  width: 100%;
  flex: 0 0 auto;
}
main {
  width: 100%;
  flex: 1 1 0;
}
footer {
  flex: 0 0 auto;
  text-align: center;
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer nav a {
  display: block;
  width: 32px;
  height: 32px;
}
